#productItem{
    width: 1000px;
    margin: 0 auto 25px;
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
}
#productItem>h1{
    font-size: 35px;
    margin-bottom: 25px;
}
#productItem>p>button{
    width: 200px;
    height: 20px;
    border: none;
    background-color: orange;
    color: #fff;
    margin-bottom: 25px;
}
#productItem>p:last-child{
    font-size: 18px;
    text-align: justify;
}

.topic{
    width: 900px;
    margin: 0 auto 25px;
}
.topic>dl{
    width: 90%;
    padding: 25px;
    margin: 0 auto 25px;
    background-color: #fff;
    color: #666;
    border-radius: 10px;
}
.topic>dl>dt{
    font-size: 1.5em;
    margin-bottom: 15px;
}
.topic>dl>dd{
    text-align: justify;
}